body{
    margin: 0;
    padding: 0;
    background: url(pexels-eberhard-grossgasteiger-572897.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;    
}

.loginbox{
    width: 420px;
    height: 500px;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"], input[type="email"], input[type="message"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: rgba(232, 190, 65, 0.64);
}
.cdetail{
    display: flex;
    margin: 10px auto;
    
}
.cdetail .lol1{
    font-size: 12px;
    flex-basis: 50%;
}
.cdetail .lol2{
    font-size: 12px;
    flex-basis: 50%;
}
.cdetail .a{
    font-size: 12px;
    margin-top: 2%;
    margin-left: 3%;
}
.cdetail .b{
    font-size: 1px;
    margin-top: 2%;
    margin-left: 3%;
}
button
{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

button:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}





@media only screen and (max-width: 770px){
    .loginbox{
        width: 95%;
        height: 80%;
        padding: 70px 8px;
    }
    
}